.project-feed {

  &__your-projects {
    display: flex;
    align-items: center;
    width: 100%
  }

  &__title-container {
    display: flex;
    align-items: baseline;
    width: 100%
  }

  &__title {
    margin-bottom: 0;
    font-size: 18px;
    font-weight: 600;
  }

  &__tooltip {
    margin-left: 10px;
  }

  &__title-block {
    display: flex;
    width: 100%;
  }

  &__body {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    column-gap: 16px;
    row-gap: 24px;
  }

  &__project {
    width: calc(50% - 16px);
    border-radius: 16px;
    padding: 16px 28px 16px 24px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    box-shadow: 0 0 16px rgba(0, 0, 0, .08), 0 4px 16px rgba(0, 0, 0, .08);

    app-project {
      width: 100%;
    }
  }
}


