.widget-element {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  &__body-block {
    margin-top: 11px;
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__btns {
    display: flex;
    align-self: flex-start;
    min-width: 64px;
  }

  &__progress {
    display: flex;
    justify-content: center;
  }
}

.date {
  font-size: 12px;
  color: #00000073;
}

.widget-element__btn {
  color: #00000073;
}
